h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

p:only-child {
    color: red;
}

p:nth-child(7) {
    color: green;
}

.yellow {
    color: yellow;
}

h1:hover {

    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}



