
h1:hover {
    text-align: center;
    color: #fff;
    background-color: #000;
}

/* Ефекти наведення для кожного дня тижня */
p:nth-of-type(1):hover {
    color: yellow;
    background-color: lightblue;
}

p:nth-of-type(2):hover {
    color: cyan;
    background-color: lightgreen;
}

p:nth-of-type(3):hover {
    color: magenta;
    background-color: lightcoral;
}

p:nth-of-type(4):hover {
    color: lime;
    background-color: #fafad2;
    /* Світло-золотисто-жовтий */
}

p:nth-of-type(5):hover {
    color: orange;
    background-color: lightcyan;
}

/* -------------- */
/* Понеділок */
/* -------------- */
ol:nth-of-type(1)>li:nth-child(2) {
    color: blue;
}

ol:nth-of-type(1)>li:nth-child(3) {
    color: green;
}

ol:nth-of-type(1)>li:nth-child(4) {
    color: orange;
}

ol:nth-of-type(1)>li:nth-child(5) {
    color: purple;
}

ol:nth-of-type(1)>li:nth-child(6) {
    color: brown;
}

ol:nth-of-type(1)>li:nth-child(7) {
    color: pink;
}

ol:nth-of-type(1):hover {
    background-color: lightblue;
}

ol:nth-of-type(1)>li:hover {
    color: yellow;
}

/* -------------- */
/* Вівторок */
/* -------------- */
ol:nth-of-type(2)>li:nth-child(1) {
    color: red;
}

ol:nth-of-type(2)>li:nth-child(2) {
    color: blue;
}

ol:nth-of-type(2)>li:nth-child(3) {
    color: green;
}

ol:nth-of-type(2)>li:nth-child(4) {
    color: orange;
}

ol:nth-of-type(2)>li:nth-child(5) {
    color: purple;
}

ol:nth-of-type(2)>li:nth-child(6) {
    color: brown;
}

ol:nth-of-type(2)>li:nth-child(7) {
    color: pink;
}

ol:nth-of-type(2):hover {
    background-color: lightgreen;
}

ol:nth-of-type(2)>li:hover {
    color: cyan;
}

/* -------------- */
/* Середа */
/* -------------- */
ol:nth-of-type(3)>li:nth-child(1) {
    color: red;
}

ol:nth-of-type(3)>li:nth-child(2) {
    color: blue;
}

ol:nth-of-type(3)>li:nth-child(3) {
    color: green;
}

ol:nth-of-type(3)>li:nth-child(4) {
    color: orange;
}

ol:nth-of-type(3)>li:nth-child(5) {
    color: purple;
}

ol:nth-of-type(3)>li:nth-child(6) {
    color: brown;
}

ol:nth-of-type(3):hover {
    background-color: lightcoral;
}

ol:nth-of-type(3)>li:hover {
    color: magenta;
}

/* -------------- */
/* Четвер */
/* -------------- */
ol:nth-of-type(4)>li:nth-child(1) {
    color: red;
}

ol:nth-of-type(4)>li:nth-child(2) {
    color: blue;
}

ol:nth-of-type(4)>li:nth-child(3) {
    color: green;
}

ol:nth-of-type(4)>li:nth-child(4) {
    color: orange;
}

ol:nth-of-type(4)>li:nth-child(5) {
    color: purple;
}

ol:nth-of-type(4)>li:nth-child(6) {
    color: brown;
}

ol:nth-of-type(4):hover {
    background-color: #fafad2;
    /* Світло-золотисто-жовтий */
}

ol:nth-of-type(4)>li:hover {
    color: lime;
}

/* -------------- */
/* П'ятниця */
/* -------------- */
ol:nth-of-type(5)>li:nth-child(1) {
    color: red;
}

ol:nth-of-type(5)>li:nth-child(2) {
    color: blue;
}

ol:nth-of-type(5)>li:nth-child(3) {
    color: green;
}

ol:nth-of-type(5)>li:nth-child(4) {
    color: orange;
}

ol:nth-of-type(5)>li:nth-child(5) {
    color: purple;
}

ol:nth-of-type(5)>li:nth-child(6) {
    color: brown;
}

ol:nth-of-type(5):hover {
    background-color: lightcyan;
}

ol:nth-of-type(5)>li:hover {
    color: orange;
}
